.page {
  /* background: linear-gradient(
    to bottom,
    #a8a8a8 0px,
    #a8a8a8 400px,
    #ffffff 200px,
    #ffffff 100%
  ); */

  min-height: var(--tg-viewport-stable-height, 100vh);
  display: flex;
  flex-direction: column;
  /* padding-top: calc(var(--tg-safe-area-top, 0px) + 10px); */
  padding-bottom: calc(120px + var(--tg-safe-area-bottom, 0px));
  max-width: 402px;
  margin: 0 auto;
}

.hero {
  /* background: #a8a8a8; */
  /* padding-top: 7px; */
  margin-bottom: 18px;
  position: relative;
  flex: 0 0 auto;
}

.title {
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.06;
  text-align: center;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* background-color: white; */
  padding-top: calc(var(--tg-safe-area-top, 0px) + 15px);
  padding-bottom: 12px;
  z-index: 144;
  animation: changeColorBack 0.5s linear forwards;
}

.titleActive {
  animation: changeColor 0.5s linear forwards;
}

@keyframes changeColor {
  from {
    color: white;
    background-color: transparent;
  }
  to {
    color: #000000;
    background-color: white;
  }
}

@keyframes changeColorBack {
  from {
    color: #000000;
    background-color: white;
  }
  to {
    color: white;
    background-color: transparent;
  }
}

.heroInner {
  padding: 49px 16px 18px;
  /* background-color: transparent; */
  padding-bottom: 0;
}

.hero > img {
  position: absolute;
  /* width: 100vw; */
  width: 405px;
  height: 382px;
  z-index: -1;
  top: -50px;
}

.summaryRow {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 46px;
  gap: 42.5px;
}

.summaryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.value {
  font-family: BebasNeue, sans-serif;
  font-size: 73px;
  line-height: 1;
}

.label {
  font-size: 15px;
  font-weight: 600;
  text-transform: lowercase;
}

.infoBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 14px 20px;
  border-radius: 16px;
  border: 0;
  background: #ffffff;
  cursor: pointer;
  text-align: left;
}

.infoTitle {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  color: #111111;
}

.infoSubtitle {
  font-size: 13px;
  color: #6e6e6e;
}

.arrow {
  width: 16px;
  height: 11px;
}

.main {
  width: 100%;
  background: #ffffff;
  padding-top: 18px;
  border-radius: 22px 22px 0 0;
  flex: 1 1 auto;
  min-height: 0;
}

.tableSection {
  padding: 0 16px;
}

.tableCard {
  background: var(--items-background);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 17px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.th {
  text-align: left;
  font-weight: 500;
  color: #000000;
  padding: 8px 12px;
  font-size: 15px;
}

.td {
  padding: 8px 12px;
  color: #6e6e6e;
  font-size: 15px;
}

.muted {
  color: #6e6e6e;
}
