{{#if isClient}}'use client';

{{/if}}interface {{pascalCase name}}Props {
  children?: React.ReactNode;
}

export function {{pascalCase name}}({ children }: {{pascalCase name}}Props) {
  return <div>{children}</div>;
}
