.card {
  width: 100%;
  max-width: 112px;
  height: 112px;
  padding: 14px 0 0 12px;
  border-radius: 16px;
  background: var(--items-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 107%;
  white-space: pre-line;
  color: #000000;
}

.iconRow {
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 79px;
  max-height: 79px;
  object-fit: contain;
  opacity: 1;
  position: absolute;
  bottom: 0;
}

.card0 img {
  width: 78px;
  height: 77.03px;
}

.card1 img {
  width: 79.22px;
  height: 79px;
}

.card2 img {
  width: 50.18px;
  height: 69px;
}

.card3 img {
  width: 95px;
  height: 95px;
  transform: scale(1.1);
  right: -15px;
  bottom: -6px;
}

.card4 img {
  width: 79.54px !important;
  height: 85px !important;
  bottom: -5px;
  right: -6px;
}

.card5 img {
  width: 88px;
  height: 88px;
  bottom: -15px;
  right: -13px;
}

.card6 img {
  width: 79px;
  height: 60px;
  right: -10px;
}

.card7 img {
  width: 67px;
  height: 67px;
  right: 1px;
  bottom: -4px;
}
